{% extends 'base.html' %}

{% block title %}Password Change{% endblock %}

{% block content %}

<div class="container">
    <h2>Password Change</h2>
    <hr>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-outline-success">Update</button>
        <a href="{% url 'detail' user.username %}">
            <button type="button" class="btn btn-outline-secondary">Cancel</button>
        </a>

    </form>
</div>
{% endblock %}